doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Vite Pug App
  body
    script(src="/main.ts" type="module")
    a(href="/about.html") clickme
    hr
    | {{ x + y }}
    script alert("demo....")
